<html>
<body>
<form action="{{url_for('predict_datapoint')}}" method="POST">

<div class="form-group">
    <label for="cap_shape">Cap Shape:</label>
    <select id="cap_shape" name="cap_shape">
        <option value="b">bell</option>
        <option value="c">conical</option>
        <option value="x">convex</option>
        <option value="f">flat</option>
        <option value="k">knobbed</option>
        <option value="s">sunken</option>
    </select>
</div>

<div class="form-group">
    <label for="cap-surface">Cap Surface:</label>
    <select id="cap_surface" name="cap_surface">
        <option value="f">fibrous</option>
        <option value="g">grooves</option>
        <option value="y">scaly</option>
        <option value="s">smooth</option>
    </select>
</div>

<div class="form-group">
    <label for="cap-color">Cap color:</label>
    <select id="cap_color" name="cap_color">
        <option value="n">brown</option>
        <option value="b">buff</option>
        <option value="c">cinnamon</option>
        <option value="g">gray</option>
        <option value="r">green</option>
        <option value="p">pink</option>
        <option value="u">purple</option>
        <option value="e">red</option>
        <option value="w">white</option>
        <option value="y">yellow</option>
    </select>
</div>

<div class="form-group">
    <label for="bruises">Bruises:</label>
    <select id="bruises" name="bruises">
        <option value="t">yes</option>
        <option value="f">no</option>
    </select>
</div>

<div class="form-group">
    <label for="odor">Odor:</label>
    <select id="odor" name="odor">
        <option value="a">almond</option>
        <option value="l">anise</option>
        <option value="c">creosote</option>
        <option value="y">fishy</option>
        <option value="f">foul</option>
        <option value="m">musty</option>
        <option value="n">none</option>
        <option value="p">pungent</option>
        <option value="s">spicy</option>
    </select>
</div>

<div class="form-group">
    <label for="gill-attachment">Gill attachment:</label>
    <select id="gill_attachment" name="gill_attachment">
        <option value="a">attached</option>
        <option value="f">free</option>
    </select>
</div>

<div class="form-group">
    <label for="gill-spacing">Gill spacing:</label>
    <select id="gill_spacing" name="gill_spacing">
        <option value="c">closed</option>
        <option value="w">crowded</option>
    </select>
</div>

<div class="form-group">
    <label for="gill-size">Gill size:</label>
    <select id="gill_size" name="gill_size">
        <option value="b">broad</option>
        <option value="n">narrow</option>
    </select>
</div>

<div class="form-group">
    <label for="gill-color">Gill color:</label>
    <select id="gill_color" name="gill_color">
        <option value="k">black</option>
        <option value="n">brown</option>
        <option value="b">buff</option>
        <option value="h">chocolate</option>
        <option value="g">gray</option>
        <option value="r">green</option>
        <option value="o">orange</option>
        <option value="p">pink</option>
        <option value="u">purple</option>
        <option value="e">red</option>
        <option value="w">white</option>
        <option value="y">yellow</option>
    </select>
</div>

<div class="form-group">
    <label for="stalk-shape">Stalk shape:</label>
    <select id="stalk_shape" name="stalk_shape">
        <option value="e">enlarging</option>
        <option value="t">tapering</option>
    </select>
</div>

<div class="form-group">
    <label for="stalk-root">Stalk root:</label>
    <select id="stalk_root" name="stalk_root">
        <option value="b">bulbous</option>
        <option value="c">club</option>
        <option value="e">equal</option>
        <option value="r">rooted</option>
        <option value="?">missing</option>
    </select>
</div>

<div class="form-group">
    <label for="stalk-surface-above-ring">Stalk surface above ring:</label>
    <select id="stalk_surface_above_ring" name="stalk_surface_above_ring">
        <option value="f">fibrous</option>
        <option value="y">scaly</option>
        <option value="k">silky</option>
        <option value="s">smooth</option>
    </select>
</div>

<div class="form-group">
    <label for="stalk-surface-below-ring">Stalk surface below ring:</label>
    <select id="stalk_surface_below_ring" name="stalk_surface_below_ring">
        <option value="f">fibrous</option>
        <option value="y">scaly</option>
        <option value="k">silky</option>
        <option value="s">smooth</option>
    </select>
</div>

<div class="form-group">
    <label for="stalk-color-above-ring">Stalk color above ring:</label>
    <select id="stalk_color_above_ring" name="stalk_color_above_ring">
        <option value="n">brown</option>
        <option value="b">buff</option>
        <option value="c">cinnamon</option>
        <option value="g">gray</option>
        <option value="o">orange</option>
        <option value="p">pink</option>
        <option value="e">red</option>
        <option value="w">white</option>
        <option value="y">yellow</option>
    </select>
</div>

<div class="form-group">
    <label for="stalk-color-below-ring">Stalk color below ring:</label>
    <select id="stalk_color_below_ring" name="stalk_color_below_ring">
        <option value="n">brown</option>
        <option value="b">buff</option>
        <option value="c">cinnamon</option>
        <option value="g">gray</option>
        <option value="o">orange</option>
        <option value="p">pink</option>
        <option value="e">red</option>
        <option value="w">white</option>
        <option value="y">yellow</option>
    </select>
</div>

<div class="form-group">
    <label for="veil-type">Veil Type:</label>
    <select id="veil_type" name="veil_type">
        <option value="p">partial</option>
    </select>
</div>

<div class="form-group">
    <label for="veil-color">Veil color:</label>
    <select id="veil_color" name="veil_color">
        <option value="n">brown</option>
        <option value="o">orange</option>
        <option value="w">white</option>
        <option value="y">yellow</option>
    </select>
</div>

<div class="form-group">
    <label for="ring-number">Ring number:</label>
    <select id="ring_number" name="ring_number">
        <option value="n">none</option>
        <option value="o">one</option>
        <option value="t">two</option>
    </select>
</div>

<div class="form-group">
    <label for="ring-type">Ring type:</label>
    <select id="ring_type" name="ring_type">
        <option value="e">evanescent</option>
        <option value="f">flaring</option>
        <option value="l">large</option>
        <option value="n">none</option>
        <option value="p">pendant</option>
    </select>
</div>

<div class="form-group">
    <label for="spore-print-color">Spore print color:</label>
    <select id="spore_print_color" name="spore_print_color">
        <option value="k">black</option>
        <option value="n">brown</option>
        <option value="b">buff</option>
        <option value="h">chocolate</option>
        <option value="r">green</option>
        <option value="o">orange</option>
        <option value="u">purple</option>
        <option value="w">white</option>
        <option value="y">yellow</option>
    </select>
</div>

<div class="form-group">
    <label for="population">Population:</label>
    <select id="population" name="population">
        <option value="a">abundant</option>
        <option value="c">clustered</option>
        <option value="n">numerous</option>
        <option value="s">scatterd</option>
        <option value="v">several</option>
        <option value="y">solitary</option>
    </select>
</div>

<div class="form-group">
    <label for="habitat">Habitat:</label>
    <select id="habitat" name="habitat">
        <option value="g">grasses</option>
        <option value="l">leaves</option>
        <option value="m">meadows</option>
        <option value="p">paths</option>
        <option value="u">urban</option>
        <option value="w">waste</option>
        <option value="d">woods</option>
    </select>
</div>

<div style="clear:both;"></div>
    <input type="submit" value="Submit">
</form>
</body>
</html>